<div class="notifications-container">
  <div class="notifications-content">
    <div class="filter-buttons">
      <button
        mat-button
        (click)="setFilter('Todo')"
        [class.active]="filter === 'Todo'"
      >
        Todo
      </button>
      <button
        mat-button
        (click)="setFilter('Mis Casos')"
        [class.active]="filter === 'Mis Casos'"
      >
        Mis Casos
      </button>
    </div>

    <div class="notifications-list" *ngIf="getFilteredNotifications().length > 0; else noNotifications">
      <div
        *ngFor="let notification of getFilteredNotifications()"
        class="notification-item"
      >
        <mat-icon>notifications</mat-icon>
        <span>{{ notification.title }}: {{ notification.description }}</span>
      </div>
    </div>

    <ng-template #noNotifications>
      <p>No hay notificaciones disponibles.</p>
    </ng-template>
  </div>
</div>
