<mat-toolbar>

  <div class="logo">
    <img src="https://github.com/UPC-PRE-SI729-2402-SW54-Lorem-Ipsum/Frontend/blob/css-design/src/assets/images/logo-lawconnect.png?raw=true" alt="logo">
    <span class="app-name">Law Connect</span>
  </div>

  <span class="toolbar-spacer"></span>

  <button mat-button class="btn" [routerLink]="['/home-client']">
    <mat-icon>home</mat-icon>
    Inicio
  </button>

  <button mat-button class="btn" [routerLink]="['/notifications']">
    <mat-icon>notifications</mat-icon>
    Notificaciones
  </button>

  <button mat-button class="btn" [routerLink]="['/cases']">
    <mat-icon>work</mat-icon>
    Casos
  </button>
  <button *ngIf="userRole === 'LAWYER'" mat-button class="btn" [routerLink]="['/']">
    <mat-icon>gavel</mat-icon>
    Ver solicitudes
  </button>

  <button *ngIf="userRole === 'CLIENT'" mat-button class="btn" [routerLink]="['/lawyer-search']">
    <mat-icon>gavel</mat-icon>
    Buscar abogados
  </button>



</mat-toolbar>
