<div class="documents-management">
  <div class="document-block">
    <div class="block-header">
      <p>PAGOS A COBRAR - CASO X</p>
      <!-- PAGOS A COBRAR - CASO {{ legalCase.id }} -->
    </div>

    <div class="table-management">
      <!-- <app-document-table> [legalCaseId]="legalCaseId></app-document-table> -->
      File Table
    </div>

    <div class="actions">
      <button class="model" (click)="openAddDocumentDialog('add')"> Subir Documento </button>
      <span class="spacer"></span>
      <button class="model" (click)="goBackToLegalCase()"> Volver a Caso </button>
    </div>
  </div>
</div>
