<body>
<div class="main-container">
  <!-- Columna izquierda: Perfil y Consulta -->
  <div class="left-column">
    <div class="profile-container">
      <div class="cover-square"></div>
      <div class="profile-info">
        <img src="assets/images/jpc_3.jpg" alt="Foto de Perfil" class="profile-photo">
        <h2 class="username">Pedro Gallego Alcantara<span class="verified">✔</span></h2>
        <div class="profession">
          <i>💼</i>
          <span>Abogado de violencia familiar</span>
        </div>
        <button class="consult-button">Consultar</button>
      </div>
    </div>

    <!-- Nuevo Contenedor de Consulta -->
    <div class="activity-container">
      <h4>Consultar Abogado</h4>
      <p>Se ha abierto un caso con el abogado, es hora de empezar la consulta.</p>
      <div class="consultation-buttons">
        <button class="btn chat-btn" [routerLink]="['/chat']">Chat</button>
        <button class="btn video-btn" [routerLink]="['/video-call']">Videollamada</button>
        <button class="btn in-person-btn" [routerLink]="['/face-to-face-appointment']">Cita Presencial</button>
      </div>
    </div>
  </div>

  <!-- Columna derecha: Recomendaciones -->
  <div class="right-column">
    <div class="recommendations-container">
      <h3>Más Perfiles en Común</h3>
      <div class="recommended-profile">
        <img src="https://via.placeholder.com/40" alt="Foto">
        <div>
          <p>Lucas Aldave</p>
          <span class="profession-span">Abogado de violencia familiar</span>
          <div class="stars">★★★★★</div>
          <button class="consult-button" [routerLink]="['/profile-lawyer']">Ver Perfil</button>
        </div>
      </div>
      <div class="recommended-profile">
        <img src="https://via.placeholder.com/40" alt="Foto">
        <div>
          <p>GianPaul Custodio Chavarria</p>
          <span class="profession-span">Abogado de violencia familiar</span>
          <div class="stars">★★★★★</div>
          <button class="consult-button" [routerLink]="['/profile-lawyer']">Ver Perfil</button>
        </div>
      </div>
      <div class="recommended-profile">
        <img src="https://via.placeholder.com/40" alt="Foto">
        <div>
          <p>Marcos Chenssen C.</p>
          <span class="profession-span">Abogado de violencia familiar</span>
          <div class="stars">★★★★★</div>
          <button class="consult-button" [routerLink]="['/profile-lawyer']">Ver Perfil</button>
        </div>
      </div>
      <div class="recommended-profile">
        <img src="https://via.placeholder.com/40" alt="Foto">
        <div>
          <p>Christopher David Escobar Cayampi</p>
          <span class="profession-span">Abogado de violencia familiar</span>
          <div class="stars">★★★★★</div>
          <button class="consult-button" [routerLink]="['/profile-lawyer']">Ver Perfil</button>
        </div>
      </div>
      <div class="recommended-profile">
        <img src="https://via.placeholder.com/40" alt="Foto">
        <div>
          <p>Alinet Fernandez Taipe</p>
          <span class="profession-span">Abogado de violencia familiar</span>
          <div class="stars">★★★★★</div>
          <button class="consult-button" [routerLink]="['/profile-lawyer']">Ver Perfil</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
