<div class="make-consultation">

<h1>Make Consultation</h1>
<form (ngSubmit)="onSubmit()">
    <input type="text" placeholder="Título" id="title" [(ngModel)]="consultation.title" name="title" required>
    <textarea id="description" placeholder="Descripción" [(ngModel)]="consultation.description" name="description" required></textarea>
    <label for="type">Type:</label>
    <select id="type" [(ngModel)]="consultation.type" name="type" required>
      <option *ngFor="let type of consultationTypes" [value]="type.value">{{ type.label }}</option>
    </select>
  <button type="submit">Submit</button>
</form>
</div>
