<body>
<div class="form-container">
  <h2>Crear Consulta</h2>
  <form>
    <input type="text" placeholder="Título" class="input-text">
    <input type="text" placeholder="Tipo de Consulta" class="input-text">
    <textarea placeholder="Descripción del Caso" class="input-textarea"></textarea>
    <div class="button-container">
      <button type="button" class="btn cancel-btn">Cancelar</button>
      <button type="submit" class="btn submit-btn">Enviar</button>
    </div>
  </form>
</div>
</body>
